* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}
header select {
    background-color: transparent;
    border: none;
    color: #fff;
}
.header_select {
    display: flex;
}
.header_select>li {
    list-style: none;

}
.translate {
    flex-direction: row;
    background: transparent;
    border: none;
    margin-left: 12px;
    cursor: pointer;
}
.translate img {
    width: 40px;
    height: 30px;
}
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 12px;
    background-color: #ba0000;
    width: 100%;
    justify-content: space-around;
}
.contact_center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact_center i {
    margin-right: 0.6rem;
    display: flex;
    align-self: center;
    color: #fff;
}
.contact_center select {
    display: flex;
    margin-left: 20px;
    align-self: center;
}

.header_main_menu {
    z-index: 9;
    width: 100%;
    background-color: #ffcc00;
}
.header_menu {
    display: flex;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.header_menu nav {
    width: 550px;
    display: flex;
    justify-content:space-around;
}
.header_menu nav a {
    text-decoration: none;
    font-size: 12px;
    color: #ba0000;
    text-transform: uppercase;
}
.header_menu nav a:hover {
    font-weight: bold;
    font-size: 14px;
    transition: 0.5s;

}
.search img {
    background-color: #ba0000;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
}


/* First section */
.slider {
    position: relative;
    display: flex;
}
.header_text h1 {
    font-size: 2rem;
    font-weight: 900;
    width: 250px;
    color: #fff;
}
.header_text p {
    color: #ffcc00;
    font-size: 1rem;
}
.header_text  {
    justify-content: space-around;
    width: 50%;
    height: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 15%;
    top: 10%;
}
hr {
    display: flex;
    width: 10%;
    height: 4px;
    border: none;
    background-color: #ffcc00;
}
.when_text {
    max-width: 520px;
}
.aqs {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-between;
    width: 370px;
}
.aqs p {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
.buttons {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-between;
    width: 300px;

}
.buttons a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    list-style: none;
    text-decoration: none;
    padding: 12px;
    background-color: transparent;
    font-weight: bold;
    font-size: 0.8rem;
}
.buttons a:hover {
    background-color: #ffcc00;
    color: #ba0000;
    border: none;
    transition: 0.5s;
}
.slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.header_gradient {
    position:absolute;
    left: 0;top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 0;
    background-image: -moz-linear-gradient( 45deg, rgb(186,0,0) 0%, rgba(221,102,0,0.05) 95%, rgba(255,204,0,0.01) 99%, rgb(255,204,0) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(186,0,0) 0%, rgba(221,102,0,0.05) 95%, rgba(255,204,0,0.01) 99%, rgb(255,204,0) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(186,0,0) 0%, rgba(221,102,0,0.05) 95%, rgba(255,204,0,0.01) 99%, rgb(255,204,0) 100%);
}


/* Service */
.service {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    margin-top: 50px;
}
.service .service_text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5%;
}
.service .service_text h1 {
    color: #222222;
    font-size: 5rem;
    position: relative;
    opacity: 0.07;
}
.service .service_text p {
    font-size: 2rem;
    color: #ba0000;
    position: absolute;
    display: flex;
    align-self: center;
    font-weight: bold;
}
.services_form {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.services_form p {
    max-width: 250px;
}
.kuku {
    display: flex;
    flex-direction: column;    
}

.services_form .dhi select {
    background-color: #9d0000;
    border: 3px solid #9d0000;
    width: 230px;
    padding: 10px;
    color: #ffffff;
}
.services_form .dhi select option {
    background-color: #ffffff;
}
.services_form h3 {
    color: #ba0000;
    text-transform: uppercase;
}
.services_form p {
    color: #777777;
}
.services_form span {
    color: #222222;
    font-weight: bold;
    cursor: pointer;
    width: auto;
}

.services_form .dhi {
    padding: 20px;
    background-color: #ba0000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.services_form .dhi hr {
    width: 100px;
}
.services_form .dhi h3{ 
    color: #ffffff;
    font-size: 0.9rem;
}
.services_form .dhi p{
    color: #fff;
}
.services_form .dhi span {
    text-transform: uppercase;
    text-decoration: none;
    color: #ba0000;
    background-color: #ffcc00;
    width: 200px;
    text-align: right;
    border-radius: 50px;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
}

.services_form span {
    display: flex;
    flex-direction: row;
}
.services_form i {
    color: #ba0000;
    display: flex;
    align-self: center;
    margin-left: 5px;
}

select option {
    color: #ba0000;
    font-weight: bold;
}

/* About */
.about {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 100vh;
}
.about .about_us {
    position: relative;
    display: flex;
}
.trans img{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.about_us_text {
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 25%; 
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
}

.about_us_text p {
    color: #ba0000;
}
.about_us_text i {
    color: #ba0000;
    cursor: pointer;
    font-size: 90px;
}

/* Cards */
.about_images {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-self: flex-end;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}
.layer {
    background-color: #f4e9e9;
    box-shadow: 0px 10px 18px 0px rgba(191, 191, 191, 0.4);
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.layer img {
    border-radius: 10px;
}
.layer:hover {
    background-color: #ffffff;
    transition: 0.5s;
}
.about_bg_cover {
    position:absolute;
    left: 0;top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    background-image: -moz-linear-gradient( 90deg, rgba(255,204,0,0.70196) 0%, rgba(186,0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(255,204,0,0.70196) 0%, rgba(186,0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(255,204,0,0.70196) 0%, rgba(186,0,0,0) 100%);
}
.layer_text {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    padding: 20px;
}
.layer_text span{
    font-size: 1.3rem;
    color: #ba0000;
    font-weight: bold;
    display: flex;
    width: 90%;
    margin: 7px;
    align-self: center;
}
.layer_text p {
    color: #898989;
    display: flex;
    font-size: 1rem;
    width: 90%;
    margin-top: 5px;
    font-weight: bold;
    align-self: center;
}
.layer i{
    color: #ffcc00;
    margin-right: 5px;
    display: flex;
    align-self: center;
}

/* Logistic */
.express_logistic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}
.express_logistic .logo_express_vidal:hover div {
    outline: 15px solid #ba0000;

}
.express_logistic .logo_express_vidal img {
    max-width: 250px;
    height: auto;
    display: flex;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}
.frame_vidal {
    outline: 10px solid rgb(255, 204, 0);
    position: relative;
    width: 240px;
    height: 280px;
    left: -20px;
    top: 25px;
    z-index: 1;
}

.select_form {
    display: flex;
    flex-direction: column;
}
.select_form p {
    cursor: pointer;
    /*height: 50px;*/
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 2px solid wheat;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 10px;
}
.select_form p:hover {
    color: #ffcc00;
    transition: 0.5s;
}
.select_form p>i {
    display: flex;
    flex-direction: row;
}


.form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ba0000;
}
.viborka {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.viborka span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00;
    outline: 2px solid #ffcc00;
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
}
.viborka span:hover {
    color: #ffffff;
    outline: 2px solid #ffffff;
    transition: 0.2s;
}
.logo_express_vidal {
    cursor: pointer;
}


/* Description */
.features {
    margin-top: 50px;
    width: 100%;
    background-color: #ba0000;
}
.features_add {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.fearures_text {
    max-width: 650px;
}
.fearures_text h2,p,span {
    color: #f4e9e9;
}
.fearures_text h2{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.button_features span {
    cursor: pointer;
    background-color: #a00000;
    border-radius: 100px;
    padding: 20px;
}


/* Companies */
.client {
    margin-top: 50px;
    width: 100%;
}
.client_images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
.client_images img {
    cursor: pointer;
    background-size: cover;
    border: 2px solid #eedbdb;
    background-color: #f9f9f9;
    padding: 30px 10px;
    margin: 20px;
}
.client_images img:hover {
    border: 2px solid #f9f9f9;
    background-color: #eedbdb;
}

/* Footer */
footer {
    margin-top: 50px;
    width: 100%;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.end img {
    width: 200px;
    height: 150px;
    object-fit: covers;
}

.right-side-image img{
    border-right: 20px solid #ffcc00;
}
.left-side-image img{
    border-left: 20px solid #ba0000;
}

.end h2 {
    margin-bottom: 10px;
    color: #ba0000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}
.end p {
    color: #777777;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}
.contact_center_footer p:hover {
    color: #ba0000;
    transition: 0.3s;
}
.about_us_footer p:hover {
    color: #ffcc00;
    transition: 0.3s;
}
.social_media_footer p:hover {
    color: #017edf;
    transition: 0.3s;
}
.end i {
    color: #ba0000;
    margin-right: 5px;
}



/* Fixed Header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Adaptipe menu */
.m-menu {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 4rem;
    background: linear-gradient(180deg, #ba0000, #ffcc00);
    transition: .2s;
    transform: translateY(-100%);
}
.m-menu__active {
    transform: translateY(0%);
}
.m-menu-link {
    display: none;
    color: #fff;
    font-size: 2rem;
}
/* Close adaptive menu */
.close-menu {
    position: fixed;
    right: 2.5rem;
    top: 0;
    font-size: 5rem;
    font-weight: 900;
    color: #fff;
}
.close-menu:hover {
    cursor: pointer;
}

.menu-link {
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
}

/* Arrow up */
#scrollTop {
    position: fixed;
    bottom: 60px;
    right: 70px;
    font-size: 50px;
    z-index: 9999;
    display: block;
    color: #ffcc00;
    cursor: pointer;
}
.isShowBtn {
    opacity: 1;
    transition: .3s;
}
.isHideBtn {
    opacity: 0;
    transition: .3s;
}

/* Animation fixed header */
.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    animation-name: show_header;
    animation-duration: 1s;
}
@keyframes show_header {
    0% {
        opacity: 0;
        top: -70px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}


